[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
flask = "*"
black = "*"

[packages]
toolz = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
